<div id="page-title">

	<div id="page-title-inner">

		<!-- start: Container -->
		<div class="container">

			<h2><i class="ico-stats ico-white"></i>Usuário</h2>

		</div>
		<!-- end: Container  -->

	</div>	

</div>

<div class="wrapper">
	
	<div class="container">
		
		<div class="span4 offset4">
	
			<div class="title"><h1>Entrar</h1></div>

			<!-- start: Contact Form -->
				<div id="contact-form">
    
			    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      
			      <div class="login-fields">
        
			        <p>Entrar com sua conta registrada:</p>
        
			        <div class="field">
			          <label for="email">Email:</label>
			          <%= f.email_field :email, :class => 'login username-field' %>
			        </div> <!-- /field -->
        
			        <div class="field">
			          <label for="senha">Senha:</label>
			          <%= f.password_field :password, :class => 'login password-field' %>
			        </div> <!-- /password -->
        
			      </div> <!-- /login-fields -->
      
			      <div class="login-actions">
                  
			        <%= f.submit "Entrar", :class => "button btn btn-large" %>
        
			      </div> <!-- .actions -->
      
			    <% end %>
    
			  </div> <!-- /contact-form -->
  
		</div> <!-- /span4 -->
		
	</div> <!-- /container -->

</div> <!-- /wrapper -->