<div id="footer-menu" class="hidden-tablet hidden-phone">

	<!-- start: Container -->
	<div class="container">
		
		<!-- start: Row -->
		<div class="row">

			<!-- start: Footer Menu Logo -->
			<div class="span2">
				<div id="footer-menu-logo">
					<a class="brand" href="#">Pontue<span>.me</span></a>
				</div>
			</div>
			<!-- end: Footer Menu Logo -->

			<!-- start: Footer Menu Links-->
			<div class="span9">

				
			</div>
			<!-- end: Footer Menu Links-->

			<!-- start: Footer Menu Back To Top -->
			<div class="span1">
					
				<div id="footer-menu-back-to-top">
					<a href="#"></a>
				</div>
			
			</div>
			<!-- end: Footer Menu Back To Top -->
		
		</div>
		<!-- end: Row -->
		
	</div>
	<!-- end: Container  -->	

</div>

<div id="footer">

	<!-- start: Container -->
	<div class="container">

		<!-- start: Row -->
		<div class="row">

			<!-- start: Contact Info -->
			<div class="span3">
				<h3>Informações de Contato</h3>
				<p>
					<b>Pontue.me</b>
				</p>
				<p>
					Porto Alegre
				</p>
				<p>	
					Número: (51) 9655-4546
				</p>
				<p>
					Email: contato@pontue.me
				</p>
				<p>
					Web: pontue.me
				</p>
			</div>
			<!-- end: Contact Info -->

			<!-- start: Photo Stream -->
			<div class="span3">

				<h3>Localização!</h3>
				<div id="small-map-container"><a href="contact.html"></a></div>

<iframe id="small-map" width="210" height="210" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=porto+alegre&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,87.890625&amp;ie=UTF8&amp;hq=&amp;hnear=Porto+Alegre+-+Rio+Grande+do+Sul,+Rep%C3%BAblica+Federativa+do+Brasil&amp;t=m&amp;z=10&amp;ll=-30.027704,-51.228735&amp;output=embed"></iframe><

			</div>
			<!-- end: Photo Stream -->

			<div class="span6">

				<!-- start: Follow Us -->
				<h3>Siga-nos!</h3>
				<ul class="social-grid">
					<li>
						<div class="social-item">				
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-twitter">
										<a href="http://twitter.com/pontueme"></a>
									</div>
									<div class="social-info-back social-twitter-hover">
										<a href="http://twitter.com/pontueme"></a>
									</div>	
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">				
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-facebook">
										<a href="http://facebook.com/pontueme"></a>
									</div>
									<div class="social-info-back social-facebook-hover">
										<a href="http://facebook.com/pontueme"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<!-- end: Follow Us -->

			</div>

		</div>
		<!-- end: Row -->	

	</div>
	<!-- end: Container  -->

</div>