<div class="container"> 
	<div class="hero-unit hero-unit-landing">
		<div class="row">
			<div class="span5">
				<h1>Sua fidelidade recompensada!</h1>
				<h2>Ofereça a seus clientes benefícios que o dinheiro não compra</h2>
				<h3>Recompense quem frequenta e é fiel a seu estabelecimento!</h3>
				<br/>
				<a href="#video"><button class="btn btn-primary btn-landing">Video explicativo!</button></a>
				<a href="#more_info"><button class="btn btn-primary btn-landing">Mais informações!</button></a><br/>
			</div>	
			<div class="span5">
				<!--<iframe src="http://player.vimeo.com/video/46788166?color=b6b7b8" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
				<p>
					<a href="http://vimeo.com/46788166">Antony and The Johnsons [Cut the World]</a> from 
					<a href="http://vimeo.com/nabilelderkin">nabil elderkin</a> on <a href="http://vimeo.com">Vimeo</a>.
				</p>-->
				<a href="#" class="thumbnail">
					<img src="/assets/img/landing/pontueme.png" alt="logo" class="img-rounded">
				</a>		
			</div>		
		</div>
	</div>
</div>
<div class="row separator">&nbsp;</div>
<div id="video-container"> 
	<div class="container">
		<div class="row row-video" id="video">

			<div class="span6">
				<iframe width="560" height="315" src="http://www.youtube.com/embed/lUjgLw45MmE" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="span5 span-video">
				<h1>Pontos & Benefícios<h1>
				<h2>Fácil! Utilize seu smartphone ou insira seu e-mail</h2>
				<h3>Troque pelos melhores benefícios que você poderia querer, na hora mesmo!</h3>
			</div>
		</div>
	</div>
</div>
<div class="row separator-bot">&nbsp;</div>
<div class="container"> 
	<div class="row row-info" id="more_info">
		<div class="span4">
			<ul class="thumbnails">
				<li class="span2">
					<a href="#" class="">
						<img src="/assets/img/landing/Guy.png" alt="">
					</a>
				</li>
				<li class="span2">
					<h2>Vantagens</h2>
					<p>O Pontue.Me recompensa a fidelidade ao estabelecimento favorito. Não tem segredo, você frequenta o estabelecimento como antes, mas agora recebe pontos por isso e estes pontos podem ser trocados por vantagens exclusivas.</p>
				</li>
			</ul>
		</div>
		<div class="span4">
			<ul class="thumbnails">
				<li class="span2">
					<a href="#" class="">
						<img src="/assets/img/landing/House.png" alt="">
					</a>
				</li>
				<li class="span2">
					<h2>Fidelidade</h2>
					<p>Recompense os seus clientes e torne-os ainda mais fiéis ao seu estabelecimento. Estudos comprovam que estabelecimentos que possuem um programa de fidelidade tem em média o dobro de visitas dos mesmos clientes! Além disso estes gastam em média 4x mais.</p>
				</li>
			</ul>	
		</div>
		<div class="span4">
			<ul class="thumbnails">
				<li class="span2">
					<a href="#" class="">
						<img src="/assets/img/landing/Chart.png" alt="">
					</a>
				</li>
				<li class="span2">
					<h2>Estatísticas</h2>
					<p>Nosso painel de controle fornece informações detalhadas sobre a pontuação feita em seu estabelecimento. Utilize os relatórios a seu favor e melhore ainda mais o seu negócio!</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">	
		<div class="span12">
			<center><h1>Tem um negócio? Está esperando o que? <a href="/contact_form/new">Contate-nos</a></h1></center>
		</div>
	</div>
</div>
</br>

<script src="./assets/theme/jquery-1.7.2.min.js"></script>

<script src="./assets/theme/bootstrap.js"></script>
<script src="./assets/theme/base.js"></script>

<%= render :partial=>"shared/footer" %>

	